body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 2.5em;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-family: Monospace, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.presentacion {
    height: 11vh;
    background-color: #050211;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.header2 {
    
    display: flex;
    justify-content: center;
    background-color: #8D9EFF;
}

.section {
    
    display: flex;
    justify-content: center;   
    background-color: #8D9EFF;
    
}

.section2 {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.section3 {
    height: 40vh;
    display: flex;
    justify-content: center;   
    background-color: #8D9EFF;
    
}

/* Fotos de conejitos */

.conejito1 {
    width: 20vh;
    border-radius: 30px 30px 0px 50px;
}

.conejito2 {
    width: 23vh;
    border-radius: 0px 20px 70px 0px;
}

/* Mensaje 1 */

.foto-mensaje {
    margin-top: 85px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.foto-mensaje p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    font-family: monospace, sans-serif;
    margin-left: 15px;
    font-size: 1.1em;
    color:rgb(34, 33, 33);
}

/* Mensaje 2 */

.foto-mensaje2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.foto-mensaje2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    width: 50vh;
    margin-right: 15px;
    font-size: 1.1em;
    font-family: monospace, sans-serif;
    color:rgb(34, 33, 33);
}

/* Mensaje 3 */

.mensaje3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.mensaje3 p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 1em;
    font-family: monospace, sans-serif;
    color: rgb(255, 255, 255);
    
}

/* Mensaje 4 */

.mensaje4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    font-size: 1.1em;
    width: 60vh;
    text-align: center;
}

@media (max-width:800px) {
    .mensaje3 p {
        font-size: 0.8em;
}
}

@media (max-width:637px) {
    .mensaje3 p {
        width: 70vh;
}
}

@media (max-width:407px) {
    .mensaje3 p {
        width: 40vh;;
}
}

@media (max-width:424px) {
    .foto-mensaje {
        width: 80vh;
    }
    .foto-mensaje2{
        width: 80vh;
    }
}

@media (max-width:380px) {
    .section2 p {
        width: 58vh;
        font-size: 0.7em;
    }
    .foto-mensaje {
        width: 66vh;
    }
    .foto-mensaje2{
        width: 66vh;
    }
}

@media (max-width:375px) {

    h1 {
        font-size: 1.6em;
    }

    .section2 p {
        width: 42vh;
        font-size: 0.7em;
    }
    .foto-mensaje {
        width: 29vh;
    }
    .foto-mensaje2{
        width: 29vh;
    }

    .conejito1 {
        width: 14vh;
    }

    .conejito2{
        width: 16vh;
    }

    .foto-mensaje p {
        font-size: 0.7em;
    }
    .foto-mensaje2 p {
        font-size: 0.7em;
    }

    .mensaje4 {
        font-size: 0.7em;
    }
}

@media (max-width:425px) {

    h1 {
        font-size: 1.6em;
    }

    .section2 p {
        width: 42vh;
        font-size: 0.7em;
    }
    .foto-mensaje {
        width: 50vh;
    }
    .foto-mensaje2{
        width: 50vh;
    }

    .conejito1 {
        width: 14vh;
    }

    .conejito2{
        width: 16vh;
    }

    .foto-mensaje p {
        font-size: 0.9em;
    }
    .foto-mensaje2 p {
        font-size: 0.9em;
    }

    .mensaje4 {
        font-size: 0.9em;
    }
}

@media (max-width:279px) {

    h1 {
        font-size: 1.4em;
    }

    .section2 p {
        width: 30vh;
        font-size: 0.6em;
    }
    .foto-mensaje {
        width: 38vh;
    }
    .foto-mensaje2{
        width: 38vh;
    }

    .conejito1 {
        width: 12vh;
    }

    .conejito2{
        width: 14vh;
    }

    .foto-mensaje p {
        font-size: 0.7em;
    }
    .foto-mensaje2 p {
        font-size: 0.7em;
    }

    .mensaje4 {
        font-size: 0.7em;
    }

}

